/* TODO: распределить селекторы по файлам, а этот удалить */

body, h2, ul {
  margin: 0;
  padding: 0;
  background: #f7f7f7; /* TODO: or #fff */
  /*
    background: radial-gradient(circle at left bottom, #fff, #decfe1, #eceaea, #a4d6dd);
    background: radial-gradient(circle at left bottom, #fff, #a4d6dd, #bea2c2); 
  */
}

.contact-us {
  padding: 15% 0 10%;
}

.contacts-container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 15%;
}

.contact-left {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-left h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
  text-align: center;
}

.contact-left form {
  background-color: inherit;
  padding: 20px;

}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
label {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: inherit;
}

.contact-left input,
.contact-left select:focus {
  outline-color: rgb(118, 171, 178);
}

label {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  gap: 5px;
}

.checkbox-wrapper {
  margin-top: 2px;
}

.checkbox-link {
  color: rgb(99, 144, 150);
}

.checkbox-link:hover {
  color: rgb(70, 107, 111);
}

.contact-left input[type="checkbox"]:hover {
  cursor: pointer;
}

.contact-left input[type="checkbox"]:checked {
  background: rgb(118, 171, 178);
}

.contact-left button {
  width: 100%;
  background: rgb(118, 171, 178);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-left button:hover {
  background: rgb(99, 144, 150);
  /* background: rgb(23, 61, 66); –– TODO: темно-зеленый из палитры */
}

/* TODO: чекбокс в цвет палитры */

.contact-right {
  display: grid;
  margin-top: 150px;
  align-content: space-between;
  justify-content: space-between;
}

.contact-right blockquote {
  font-size: 23px;
  text-align: right;
  font-weight: 600;
  margin-left: 0;
}

.social-icons {
  display: flex;
  margin-left: 17%;
  gap: 10%;
}

.social-icons img {
  width: 80px;
  height: 80px;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.social-icons img:hover {
  transform: scale(1.1);
}
