.header {
  padding: 25px 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  /* TODO: palette colors look good on white. change later */
  background: inherit;
}
